---
# Version of openhim to use
openhim_version: 2.1.0
# Database Passwords
mysql_root_password: password
himuser_password: password

openldap_base_dn: "dc=moh,dc=gov,dc=rw"
openldap_root_dn: "cn=admin,dc=moh,dc=gov,dc=rw"
# use the slappasswd utility to generate
openldap_rootpw: "{SSHA}abc123"
ldap_pass: password
