---
# Version of openhim to use
openhim_version: 2.1.0
# Database Passwords
mysql_root_password: password
himuser_password: password
domain_name: "moh.gov.rw"
openldap_serverdomain_name: "dc=moh,dc=gov,dc=rw"
openldap_root_dn: "cn=admin,dc=moh,dc=gov,dc=rw"
ldap_pass: password
