[
	 {
        "urlPattern": "ws/rest/v1/patient/.+/encounter.+",
        "host": "localhost",
        "port": 8081
    },
	{
        "urlPattern": "ws/rest/v1/patients?.*",
        "host": "localhost",
        "port": 8086
    },
	{
		"urlPattern": "test/protected",
		"host": "localhost",
		"port": 8080,
		"authType": "basic",
		"username": "test",
		"password": "password"
	},
	{
		"urlPattern": "test/post",
		"host": "localhost",
		"port": 8080
	},
	{
		"urlPattern": "test/headers",
		"host": "localhost",
		"port": 8080
	}
]
