#!/bin/sh
### BEGIN INIT INFO
# Provides: mule
# Required-Start:    $remote_fs $syslog
# Required-Stop:     $remote_fs $syslog
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: Start daemon at boot time
# Description:       Enable service provided by daemon.
### END INIT INFO
# This is a wrapper that just passes commands to MULE_HOME/bin/mule

# Set Mule related environment
MULE_HOME={{openhim_mule_dir}}/mule-standalone-{{openhim_mule_version}}
PATH=$PATH:$MULE_HOME/bin
USER={{openhim_user}}
 
# Pass commands to mule
sudo -u "$USER" $MULE_HOME/bin/mule $1
